.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #80A4ED;
}

section {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10%;
}

.aboutMe {
  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #BCD3F2;
}

